.layout,
.layout * {
  scrollbar-width: thin;
  scrollbar-color: var(--evlta-color-bg-container) var(--evlta-color-bg-layout);
}
.layout {
  display: block;
  overflow: auto;
  scrollbar-gutter: stable;
  height: var(--evlta-layout-height);
}
.layout.locked {
  overflow-y: hidden;
}
.layout.ltr {
  direction: ltr;
}
.layout.rtl {
  direction: rtl;
}
.layout > * {
  min-width: 320px;
  min-height: 100%;
}

.header {
  background: var(--evlta-color-bg-container);
  padding-left: var(--evlta-layout-padding-horizontal);
  padding-right: var(--evlta-layout-padding-horizontal);
  position: relative;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.sticky {
  position: sticky;
}

.body {
  position: relative;
  flex-direction: row;
}

.sidebar {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: var(--evlta-color-bg-container);
  overflow: visible;
}
.sidebar > aside {
  width: 100%;
  height: 100%;
  background: var(--evlta-color-bg-container);
  transition: width var(--evlta-motion-duration-slow);
  overflow: hidden;
}
.sidebar > aside > div {
  height: 100%;
}
.sidebar > aside > div > div {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.sidebar.overlaid > aside > div > div {
  overflow-y: hidden;
}
.sidebar.sticky {
  position: sticky;
  top: 0;
  max-height: var(--evlta-layout-height);
}
.header.sticky + .body > .sidebar.sticky {
  top: var(--evlta-layout-header-height);
  max-height: calc(
    var(--evlta-layout-height) - var(--evlta-layout-header-height)
  );
}
.sidebarPrimary {
  max-width: 20%;
}
.sidebarPrimary > aside {
  align-self: flex-start;
}
.sidebarSecondary > aside {
  align-self: flex-end;
}
.sidebarSecondary {
  max-width: 30%;
}
.sidebarSecondary > aside > div > div {
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
}

.mainWrapper {
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.mainLayout {
  width: 100%;
}
.main {
  display: flex;
  flex-grow: 1;
}

.footer {
  background: var(--evlta-color-bg-container);
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
}
