.scrollParent:not(html):not(body),
.scrollParent * {
  scrollbar-width: thin;
  scrollbar-color: var(--ant-layout-body-bg) var(--ant-color-bg-container);
}
html body.scrollParent,
html.scrollParent body {
  width: auto;
}
.scrollParent :global(.ant-drawer-content-wrapper) {
  max-width: 70%;
}
.layout {
  min-height: var(--evlta-layout-height, 100vh);
  --evlta-layout-padding-horizontal: var(--ant-padding-xs);
  --evlta-layout-padding-vertical: var(--ant-padding-xs);
}
.layout.ltr {
  direction: ltr;
}
.layout.rtl {
  direction: rtl;
}

.header {
  background: var(--ant-color-bg-container);
  padding-left: var(--evlta-layout-padding-horizontal);
  padding-right: var(--evlta-layout-padding-horizontal);
  position: relative;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.sticky {
  position: sticky;
}

.body {
  position: relative;
  flex-direction: row;
}
.body.rtl {
  direction: rtl;
}

.sidebar {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: var(--ant-color-bg-container);
  overflow: visible;
}
.sidebar > aside {
  width: 100%;
  height: 100%;
  background: var(--ant-color-bg-container);
  transition: width var(--ant-motion-duration-slow);
  overflow: hidden;
}
.sidebar > aside > div {
  height: 100%;
}
.sidebar > aside > div > div {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.sidebar.overlaid > aside > div > div {
  overflow-y: hidden;
}
.sidebar.sticky {
  position: sticky;
  top: 0;
  max-height: var(--evlta-layout-height, 100vh);
}
.header.sticky + .body > .sidebar.sticky {
  top: var(--ant-layout-header-height);
  max-height: calc(
    var(--evlta-layout-height, 100vh) - var(--ant-layout-header-height)
  );
}
.sidebarPrimary {
  max-width: 20%;
}
.sidebarPrimary > aside {
  align-self: flex-start;
}
.sidebarSecondary > aside {
  align-self: flex-end;
}
.sidebarSecondary {
  max-width: 30%;
}
.sidebarSecondary > aside > div > div {
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
}
.sidebar :global(.ant-menu.ant-menu-root) {
  width: auto;
  border-inline-end: none;
}

.main {
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.mainLayout {
  width: 100%;
}
.mainLayoutInner {
  display: flex;
  flex-grow: 1;
}

.footer {
  background: var(--ant-color-bg-container);
  padding: var(--evlta-layout-padding-vertical)
    var(--evlta-layout-padding-horizontal);
}
