.scrollParent {
  scrollbar-gutter: stable;
}
.lockedHorizontally {
  overflow-x: hidden !important;
}
.lockedVertically {
  overflow-y: hidden !important;
}
.lockedBoth {
  overflow: hidden !important;
}
