.withOverlay {
  position: relative;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 400ms;
  opacity: 0;
  visibility: hidden;
}

.overlaid > .overlay {
  opacity: 1;
  visibility: visible;
}

.clickable {
  cursor: pointer;
}
