.layout.xs {
  --evlta-layout-padding-horizontal: var(--ant-padding-xs);
  --evlta-layout-padding-vertical: var(--ant-padding-xs);
}
.layout.sm,
.layout.md,
.layout.lg,
.layout.xl,
.layout.xxl {
  --evlta-layout-padding-horizontal: var(--ant-padding-sm);
  --evlta-layout-padding-vertical: var(--ant-padding-sm);
}

.primarySidebar.xs,
.primarySidebar.sm {
  max-width: calc(var(--evlta-application-screen-xs-min, 300px) * 0.2);
}
.primarySidebar.xs.collapsed > aside,
.primarySidebar.sm.collapsed > aside {
  width: calc(var(--evlta-application-screen-xs-min, 300px) * 0.2);
}
.primarySidebar.xs.expanded > aside,
.primarySidebar.sm.expanded > aside {
  width: calc(var(--evlta-application-screen-xs-min, 300px) * 0.8);
}
.primarySidebar.md,
.primarySidebar.lg,
.primarySidebar.xl,
.primarySidebar.xxl {
  max-width: calc(var(--evlta-application-screen-md-min, 768px) * 0.3);
}
.primarySidebar.md.collapsed > aside,
.primarySidebar.lg.collapsed > aside,
.primarySidebar.xl.collapsed > aside,
.primarySidebar.xxl.collapsed > aside {
  width: calc(var(--evlta-application-screen-md-min, 768px) * 0.09);
}
.primarySidebar.md.expanded > aside,
.primarySidebar.lg.expanded > aside,
.primarySidebar.xl.expanded > aside,
.primarySidebar.xxl.expanded > aside {
  width: calc(var(--evlta-application-screen-md-min, 768px) * 0.3);
}

.secondarySidebar.xs,
.secondarySidebar.sm {
  max-width: 0;
}
.secondarySidebar.xs.collapsed > aside,
.secondarySidebar.sm.collapsed > aside {
  width: 0;
}
.secondarySidebar.xs.expanded > aside {
  width: calc(var(--evlta-application-screen-xs-min, 300px) * 0.9);
}
.secondarySidebar.sm.expanded > aside {
  width: calc(var(--evlta-application-screen-sm-min, 576px) * 0.6);
}
.secondarySidebar.md {
  max-width: calc(var(--evlta-application-screen-md-min, 768px) * 0.4);
}
.secondarySidebar.lg {
  max-width: calc(var(--evlta-application-screen-lg-min, 992px) * 0.4);
}
.secondarySidebar.xl,
.secondarySidebar.xxl {
  max-width: calc(var(--evlta-application-screen-xl-min, 1200px) * 0.4);
}
.secondarySidebar.md.collapsed > aside,
.secondarySidebar.lg.collapsed > aside,
.secondarySidebar.xl.collapsed > aside,
.secondarySidebar.xxl.collapsed > aside {
  width: 0;
}
.secondarySidebar.md.expanded > aside {
  width: calc(var(--evlta-application-screen-md-min, 768px) * 0.4);
}
.secondarySidebar.lg.expanded > aside {
  width: calc(var(--evlta-application-screen-lg-min, 992px) * 0.4);
}
.secondarySidebar.xl.expanded > aside,
.secondarySidebar.xxl.expanded > aside {
  width: calc(var(--evlta-application-screen-xl-min, 1200px) * 0.4);
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: var(--ant-padding-xs, 8px);
}
.header.ltr {
  direction: ltr;
}
.header.rtl {
  direction: rtl;
}
.headerChildren {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--ant-padding-xs, 8px);
}

.flag {
  width: 1.2em;
}

.select {
  max-width: 15em;
}
