.primarySidebar.xs,
.primarySidebar.sm {
  max-width: calc(var(--evlta-screen-xs) * 0.2);
}
.primarySidebar.xs.collapsed > aside,
.primarySidebar.sm.collapsed > aside {
  width: calc(var(--evlta-screen-xs) * 0.2);
}
.primarySidebar.xs.expanded > aside,
.primarySidebar.sm.expanded > aside {
  width: calc(var(--evlta-screen-xs) * 0.8);
}
.primarySidebar.md,
.primarySidebar.lg,
.primarySidebar.xl,
.primarySidebar.xxl {
  max-width: calc(var(--evlta-screen-md-min) * 0.3);
}
.primarySidebar.md.collapsed > aside,
.primarySidebar.lg.collapsed > aside,
.primarySidebar.xl.collapsed > aside,
.primarySidebar.xxl.collapsed > aside {
  width: calc(var(--evlta-screen-md-min) * 0.09);
}
.primarySidebar.md.expanded > aside,
.primarySidebar.lg.expanded > aside,
.primarySidebar.xl.expanded > aside,
.primarySidebar.xxl.expanded > aside {
  width: calc(var(--evlta-screen-md-min) * 0.3);
}

.secondarySidebar.xs,
.secondarySidebar.sm {
  max-width: 0;
}
.secondarySidebar.xs.collapsed > aside,
.secondarySidebar.sm.collapsed > aside {
  width: 0;
}
.secondarySidebar.xs.expanded > aside {
  width: calc(var(--evlta-screen-xs) * 0.9);
}
.secondarySidebar.sm.expanded > aside {
  width: calc(var(--evlta-screen-sm-min) * 0.6);
}
.secondarySidebar.md {
  max-width: calc(var(--evlta-screen-md-min) * 0.3);
}
.secondarySidebar.lg {
  max-width: calc(var(--evlta-screen-lg-min) * 0.3);
}
.secondarySidebar.xl {
  max-width: calc(var(--evlta-screen-xl-min) * 0.3);
}
.secondarySidebar.xxl {
  max-width: calc(var(--evlta-screen-xl-min) * 0.4);
}
.secondarySidebar.md.collapsed > aside,
.secondarySidebar.lg.collapsed > aside,
.secondarySidebar.xl.collapsed > aside,
.secondarySidebar.xxl.collapsed > aside {
  width: 0;
}
.secondarySidebar.md.expanded > aside {
  width: calc(var(--evlta-screen-md-min) * 0.3);
}
.secondarySidebar.lg.expanded > aside {
  width: calc(var(--evlta-screen-lg-min) * 0.3);
}
.secondarySidebar.xl.expanded > aside {
  width: calc(var(--evlta-screen-xl-min) * 0.3);
}
.secondarySidebar.xxl.expanded > aside {
  width: calc(var(--evlta-screen-xl-min) * 0.4);
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: var(--evlta-gap);
}
.header.ltr {
  direction: ltr;
}
.header.rtl {
  direction: rtl;
}
.headerChildren {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--evlta-gap);
}

.select {
  max-width: 15em;
}
